.faculty-container .row {
  display: flex;
  overflow: hidden; /* Ensure cards don't overflow outside the row */
}

.faculty-container .col {
  animation: moveRow 5s linear infinite; /* Animation for moving the row */
}

@keyframes moveRow {
  0% {
    transform: translateX(0); /* Starting position */
  }
  100% {
    transform: translateX(-100%); /* Move the row completely outside the view */
  }
}
